.selectedPage{
    font-weight: bold;
    font-size: 25px;
    margin: 3px;

}

.page{

    background-color: white;
    margin: 1px;
    border: 1px solid;
    padding: 1px;
}

.usersPage{
    display: flex;
    flex-direction: column;

}


.usersBlock{
border: 1px solid;


}

.user{
    border: 1px solid;
    width: 150px;

}