
.pageS {
    display: flex;
    flex-direction: row;
    height: 30px;
    font-size: 20px;

    font-weight: bold;
    justify-content: space-between;
    /*border-bottom: 2px solid #ff6f00;*/
    padding-top: 15px;
}

.page:hover {
    font-weight: 1000;
    cursor: pointer;

    background-color: gray;
    color: white;
    border: 1px solid;
}

.page:active {
    font-weight: 1000;
    cursor: pointer;

    background-color: #ec1717;
    color: white;
    border: 1px solid;
}

.page {

    min-width: 20px;
    background-color: white;
    border: 1px solid;

}

.pageSwitch {
    width: 350px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

button:hover {
        background: rgba(255, 255, 255, 0.49);

}

button{
    outline: none;
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: 1rem;
    color: #3f4c4c;
    background: #FFFFFFCC;
}




.pageSwitch div {
    color:  black ;
    width:  30px ;
    text-align:  center ;
    margin-left:  5px ;
    margin-right:  5px;


}


.changePage{
    padding-left: 5px;
}

.changePage button{
    margin-right: 10px;
}
.changePage input {
    padding-left: 5px;
    outline: none;
    font-size: 20px;
    font-weight: bold;
    width: 50px;
    text-decoration: none;
    border-radius: 1rem;
}


.pageS span {
    min-width: 30px;
    text-align: center;
}

.usersPage {
    display: flex;
    flex-direction: column;

    height: 80vh;
}


.totalPage{
    padding-right: 10px;
}

.usersBlock {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;

    height: 100%;


}

a {
    text-decoration: none;
    color: #3f4c4c;

}


.user button:hover {
        background: rgba(255, 255, 255, 0.49);

}

 .user  button{
    outline: none;
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: 1rem;
    color: #3f4c4c;
    background: #FFFFFFCC;
}

.user img {

    width: 130px;
    background-color: white;
    border-radius: 50%;

}

.user {
    font-size: 25px;
    text-align: center;
    /*border: 1px dashed;*/
    width: 200px;
    height: 260px;

}





button:hover {
    cursor: pointer;

}