.selectedPage {
    font-weight: 1000;
    cursor: pointer;

    background-color: gray;
    color: white;
    border: 1px solid;


}

.selectedPage:active {


    font-weight: 1000;
    cursor: pointer;

    background-color: #ec1717;
    color: white;
    border: 1px solid;

}

.pageS {
    display: flex;
    flex-direction: row;
    height: 30px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    justify-content: space-between;
    /*border-bottom: 2px solid #ff6f00;*/
    background-color: dimgrey;
}

.page:hover {
    font-weight: 1000;
    cursor: pointer;

    background-color: gray;
    color: white;
    border: 1px solid;
}

.page:active {
    font-weight: 1000;
    cursor: pointer;

    background-color: #ec1717;
    color: white;
    border: 1px solid;
}

.page {

    min-width: 20px;
    background-color: white;
    border: 1px solid;

}

.pageSwitch {
    width: 350px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.pageSwitch button{
    font-size: 20px;
    font-weight: bold;
}




.pageSwitch div {
    color:  black ;
    background-color:  cyan ;
    border-left:  2px solid black ;
    border-right:  2px solid black ;
    width:  38px ;
    text-align:  center ;
    margin-left:  5px ;
    margin-right:  5px
}

.changePage button {
    font-size: 20px;
}

.changePage input {
    font-size: 20px;
    font-weight: bold;
    width: 50px;
    text-decoration: none;
    margin-right: 5px;
}


.pageS span {
    min-width: 30px;
    text-align: center;
}

.usersPage {
    display: flex;
    flex-direction: column;

}


.totalPage{
    padding-right: 10px;
}

.usersBlock {

    max-height: 120vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    justify-content: inherit;
    align-items: center;


}

a {
    text-decoration: none;
    color: black;
}

.user button {
    background-color: lightgreen;
    font-size: 20px;
    border-radius: 10%;


}

.user button:active {
    font-weight: bold;
    background-color: #7aec17;
    font-size: 20px;
    border-radius: 10%;


}

.user img {

    width: 155px;
    background-color: white;
    border-radius: 50%;

}

.user {
    opacity: 50%;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    /*border: 1px dashed;*/
    width: 300px;
    height: 230px;

    margin: 5px;
}

.user:hover {
    opacity: 80%;

}

.user:active {
    opacity: 100%;
}

.userFollow {
    opacity: 100%;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    /*border: 1px dashed;*/
    width: 150px;
    margin: 5px;
}

.userFollow img:active {
    background-color: #7aec17;
}

.userFollow:hover {
    opacity: 100%;

}

.userFollow img {

    width: 155px;
    border-radius: 50%;
    background-color: white;


}

.userFollow button {
    background-color: lightcoral;
    font-size: 20px;
    border-radius: 10%;
    opacity: 100%;


}

.userFollow button:active {
    font-weight: bold;
    background-color: red;
    font-size: 20px;
    border-radius: 10%;
}

button:hover {
    cursor: pointer;
}