.header {
    background-color: greenyellow;
    display: flex;
    justify-content: space-between;

}
.header img {
    width:65px;

}

.login{
    margin: 15px 15px;
}

.login a:hover {
    color: white;
}

.login a {
    color: #333333;
    font-size: 28px;
    font-weight: bolder;
    text-decoration: none;
}
