.header {
    background-color: #576b38;
    display: flex;
    justify-content: space-between;
    height: 35px;
}

.header img {
    padding-left: 5px;
    width: 35px;
    height: 35px;

}

.login{
    display: flex;
}


.login button {
    padding: 5px;
    margin-right: 5px;
    font-size: 18px;
    font-weight: bold;

}

.name {
    color: #ccccef;
    margin-right: 15px;
    font-size: 20px;
    font-weight: bold;
}


